@page "/Login"
@rendermode InteractiveServer
@inject MyCustomAuthStateProvider MyAuthProvider
@inject NavigationManager MyNavMgr

<PageTitle>Login</PageTitle>

<h1>Login</h1>
<input @bind="username" placeholder="Benutzername" />
<input @bind="password" placeholder="Passwort" type="password" />
<button @onclick="HandleLogin">Login</button>
<p style="color: red">@message</p>



@code {
	string username = "";
	string password = "";
	string message = "";

	void HandleLogin()
	{
		if (IsValidUser(username, password))
		{
			MyAuthProvider.Login(username);
			MyNavMgr.NavigateTo("/");
		}
		else
		{
			message = "Login fehlgeschlagen.";
		}
	}

	bool IsValidUser(string username, string password)
	{
		// Hier echte Validierung gegen eine Datenbank oder einen anderen Dienst durchführen
		return true;
	}					


}



@* ﻿@page "/adminlogin"
@rendermode InteractiveServer
@inject MyCustomAuthStateProvider Auth
@inject NavigationManager Nav

<PageTitle>Admin Login</PageTitle>

<div class="login-container">
    <div class="login-box">
        <h2>Admin Login</h2>

        @if (!string.IsNullOrEmpty(Error))
        {
            <div class="error-box">@Error</div>
        }

        <div class="input-group">
            <label>Email</label>
            <input @bind="Email" type="text" />
        </div>

        <div class="input-group">
            <label>Passwort</label>
            <input @bind="Password" type="password" />
        </div>

        <button class="login-button" @onclick="HandleLogin">
            Login
        </button>
        <div class="forgot-password-wrapper">
            <a href="/adminforgot">Passwort vergessen?</a>
        </div>

    </div>
</div>

@code {
    private string Email = "";
    private string Password = "";
    private string Error = "";

    private void HandleLogin()
    {
        // Beispiel
        if (Email == "admin@test.com" && Password == "1234")
        {
            Auth.Login(Email);
            Nav.NavigateTo("/admin");
        }
        else
        {
            Error = "Falscher Benutzername oder Passwort.";
        }
    }
} *@


