@page "/AdminLogin"
@rendermode InteractiveServer
@inject MyCustomAuthStateProvider MyAuthProvider
@inject NavigationManager MyNavMgr

<PageTitle>AdminLogin</PageTitle>

<h1>AdminLogin</h1>

<div class="login-container">

    @if (!string.IsNullOrEmpty(message))
    {
        <p style="color: red">@message</p>
    }

    <div class="input-group">
        <label>Benutzername</label>
        <input @bind="username" placeholder="Benutzername" />
    </div>

    <div class="input-group">
        <label>Passwort</label>
        <input @bind="password" placeholder="Passwort" type="password" />
    </div>

    <button @onclick="HandleLogin">
        Login
    </button>

</div>

@code {
    private string username = "";
    private string password = "";
    private string message = "";

    private async Task HandleLogin()
    {
        if (IsValidUser(username, password))
        {
            MyAuthProvider.Login(username);
            MyNavMgr.NavigateTo("/Admin"); 
        }
        else
        {
            message = "Login fehlgeschlagen.";
        }
    }

    private bool IsValidUser(string username, string password)
    {
        // TODO: echte Validierung mit DB, DB-Erstellen, 
        return username == "admin" && password == "1234";
    }
}
